<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	
	<!-- 의존 객체 자동 주입을 위해서는 컨포넌트 스캔을 사용, 컴포넌트 스캔은 @component로 설정된 객체를 Bean으로 IoC로-->
	<context:component-scan base-package="test02.ex01.construct"/>
	<!-- 
	xmlns : 속성값은 네임스페이스로 태그를 식별하기 위한 이름
	xmlns:xsi : XML 정보를 가르키는 주소
	xsi:schemaLocation : 두개 값이 공백으로 구분됨. 첫번째는 네임스페이스 
	                                      두번째는 참조할 네임스페이스가 있는 주소를 가리킴 
	 -->

	<bean id="good" class="test01.SpringTest" />
	
	<bean id="chef2" class="test02.ex01.construct.Chef" >
		<qualifier value="c2"/>
	</bean>
	<!--DI테스트-->
	<bean id="chef" class="test02.ex01.construct.Chef" >
		<qualifier value="c1"/>
	</bean>
	<!--생성자 주입-->
	<!--<bean id="hotel" class="test02.ex01.construct.Hotel" scope="prototype">
	   <constructor-arg ref="chef"></constructor-arg>  
	</bean>
	 -->
	<bean id="DBdev" class="test02.ex02.setter.DatabaseDev">
		<property name="url" value="jdbc:oracle:thin:@localhost:1521/XEPDB1"/>
		<property name="uid" value="myjsp"/>
		<property name="upw" value="myjsp"/>
	</bean>
	

	
</beans>